:root {
  /* primary colors */
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-navy-950: hsl(226, 43%, 10%);
  --color-navy-900: hsl(235, 46%, 20%);
  --color-navy-800: hsl(235, 41%, 34%);
  --color-navy-200: hsl(236, 100%, 87%);
  --color-orange-300: hsl(15, 100%, 70%);
  --color-purple-700: hsl(264, 64%, 52%);
  --color-purple-600: hsl(246, 80%, 60%);
  --color-purple-500: hsl(235, 45%, 61%);
  --color-blue-300: hsl(195, 74%, 62%);
  --color-pink-400: hsl(348, 100%, 68%);
  --color-green-400: hsl(145, 58%, 55%);
  --color-yellow-300: hsl(43, 84%, 65%);
  --color-grey: hsl(0, 0%, 85%);
  /* typography */
  --font-family-base: 'Rubik', sans-serif;
  --font-weight-light: 300;
  --font-weight-base: 400;
  --font-weight-medium: 500;
  --font-size-base: 16px;
  --line-height-base: 1.5;
  /* border radius */
  --radius-base: 0.9375rem;
  --radius-circle: 50%;
  /* spacing */
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  /* shadows */
}

html {
  box-sizing: border-box;
  background-color: var(--color-navy-950);
  color: var(--color-white);
  font: var(--font-weight-base) var(--font-size-base) / var(--line-height-base)
    var(--font-family-base);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  --font-size-body: 1.125rem;
  --line-height-body: 1.3125rem;

  min-height: 100vh;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: inherit;
}

ul {
  list-style: none;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -0.0625rem;
  border: 0;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  white-space: nowrap;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacing-300);
  margin: var(--spacing-1000) var(--spacing-300);
  max-width: 38.25rem;
}

.profile-card {
  background-color: var(--color-navy-900);
  border-radius: var(--radius-base);
}

.profile-info {
  display: flex;
  align-items: center;
  gap: var(--spacing-300);
  width: 100%;
  border-radius: var(--radius-base);
  padding: var(--spacing-400);
  background-color: var(--color-purple-600);
}

.profile-image {
  box-sizing: content-box;
  width: var(--spacing-800);
  height: var(--spacing-800);
  border: 2px solid var(--color-white);
  border-radius: var(--radius-circle);
}

.profile-text p {
  color: var(--color-navy-200);
  font-size: 0.9375rem;
  line-height: 1.125rem;
}

.profile-text h2 {
  margin-top: var(--spacing-100);
  font-size: 1.5rem;
  font-weight: var(--font-weight-light);
  line-height: 1.75rem;
}

.timeframe-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: auto;
  max-width: 21.5rem;
  width: 100%;
  padding-block: var(--spacing-300);

  & li {
    display: flex;
    flex-basis: calc(100% / 3);
    justify-content: center;
  }
}

.timeframe-button {
  background: none;
  border: none;
  color: var(--color-purple-500);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  cursor: pointer;

  &.active {
    color: var(--color-white);
  }
}

.activity-card {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-base);

  &.work {
    background-color: var(--color-orange-300);
  }
  &.play {
    background-color: var(--color-blue-300);
  }
  &.study {
    background-color: var(--color-pink-400);
  }
  &.exercise {
    background-color: var(--color-green-400);
  }
  &.social {
    background-color: var(--color-purple-700);
  }
  &.self-care {
    background-color: var(--color-yellow-300);
  }
}

.activity-image {
  position: absolute;
  width: 4.875rem;
  height: 4.875rem;
  right: 1.125rem;
  top: -1.125rem;
}

.activity-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  margin-top: 2.375rem;
  background-color: var(--color-navy-900);
  border-radius: var(--radius-base);
  padding: 1.75rem var(--spacing-300);
}

.activity-header,
.activity-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-title {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-body);
}

.activity-hours {
  font-size: 2rem;
  font-weight: var(--font-weight-light);
  line-height: 2.375rem;
}

.previous-stats {
  font-size: 0.9375rem;
  line-height: 1.125rem;
  color: var(--color-navy-200);
}

@media (min-width: 48rem) {
  .dashboard {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-300);
  }

  .profile-card {
    grid-column: span 3;
  }

  .activity-content {
    gap: var(--spacing-200);
    margin-top: var(--spacing-400);
    padding: var(--spacing-300);
  }

  .activity-stats {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-100);
  }

  .activity-hours {
    font-size: 3.5rem;
    line-height: 4.125rem;
  }
}

@media (min-width: 90rem) {
  .dashboard {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-400);
    max-width: 70rem;
    max-height: 32.5rem;
    margin: auto;
  }

  .profile-card {
    display: flex;
    flex-direction: column;
    grid-row: span 2;
    grid-column: unset;
  }

  .profile-info {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-400);
  }

  .profile-text h2 {
    margin-top: 0;
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .timeframe-selector {
    flex-direction: column;
    gap: 1.3125rem;
    align-items: flex-start;
    padding: 1.75rem var(--spacing-400) var(--spacing-400);

    & li {
      flex-basis: auto;
    }
  }

  .activity-content {
    gap: var(--spacing-300);
    margin-top: 2.8125rem;
    padding: var(--spacing-400);
  }
}
